apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-additional-scrape-configs
  namespace: monitoring
data:
  additional-scrape-configs.yaml: |
    - job_name: 'scaletestapp'
      metrics_path: /metrics
      scrape_interval: 5s
      static_configs:
        - targets: ['scaletestapp.default.svc.cluster.local:8080']
